*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: #FF4668;
}

.search{
    color: #FF4668;
}

.searchbar{
    display: flex;
    border: solid black 1px;
    padding: 10px;
    border-radius: 30px;
    width: 30%;
    justify-content: space-around;
}

.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.filtersection{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.filterbox{
    color: gray;
}

.filterbox:hover{
    color: black;    
    cursor: pointer;
}

.card img{
    border-radius: 10px;
    position: relative;
    transition: 1s;
}

.card img:hover{
    transform: scale(1.1);
}

.hotel-container{
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
